<html>
	<head>
		<title>Geography Now!</title>
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel = "icon" href = "https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" type = "image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
				<header class="sticky-top">
			<section class="header">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="container-fluid">
							<a class="navbar-brand" href="#"><img class="logo" src="img/logo.png"></a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ms-auto">
								<li class="nav-item">
									<a class="nav-link" href="/index">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/courses">Profile</a>
								</li>
								<li class="nav-item">
									<a class="nav-link act" href="/about">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/contact">Contact</a>
								</li>
								<button type="button" class="btn btn-outline-light pad" onclick="document.location ='/login'">Login</button>
							</ul>
						</div>
					  </div>
					</nav>
				</div>
			</section>
		</header>
		<section class="mid">
			<div class="container">
				<div class="container" align=center>
					<h1><br><i class="fa fa-address-book" style="color:#825b3a"></i> About Us</h1>
					<hr class="style-one"><br><br>
				</div>
				<div class="row shadow">
					<div class="col-md-6">
						<p><b>Hey Geograpeeps!</b><br><br> Welcome to our website! We are a group of people who are keenly interested with the geographies of this amazing world and want to share this bundle of knowledge wit as much people out there as possible. <br><br> We also have out own youtube channel with 2M+ subscribers and 32M+ views. The chanel link is as follows:<br><br> <a href="https://www.youtube.com/c/GeographyNow/about">:: Youtube</a></p>
					</div>
					<div class="col-md-6">
						<img src="img/img4.png" height=500 width=500>
					</div>
				</div><br><br>
				<div class="row shadow">
					<h2 align=center><br><i class="fa fa-pencil" style="color:#825b3a"></i> Our Story</h2><hr class="style-one">
					<p>We are all actively attempting to cover profiles on every single country of the world slowly. We are going to cover all possible countries so be patient if you are waiting for one that's down the road. Since 2002, We have provided literacy educators with access to an ever-growing collection of free educational materials. This includes hundreds of lesson plans, calendar resources, prints, and interactive tools. The site has consistently been one of the most information-rich literacy resources on the internet. Every lesson plan on ReadWriteThink has always been aligned to the IRA/NCTE Standards for the English Language Arts, showing how theory feeds into practice. ReadWriteThink has always had a focus on professional development &8211 helping educators recharge their teaching, learn new techniques and strategies, and connect with other literacy professionals through both online and offline opportunities. We are able to offer all of this great content because of the literacy experts who write and review for us and are committed to providing our users with the highest quality practices in reading and language arts instruction.</p>
				</div><br><br>
				<div class="row shadow">
					<h2 align=center><br><i class="fa fa-bullseye" style="color:#825b3a"></i> Our Mission</h2> <hr class="style-one">
					<p>Here at ReadWriteThink, our mission is to provide educators, parents, and afterschool professionals with access to the highest quality practices in reading and language arts instruction by offering the very best in free materials.</p>
				</div><br><br>
				<div class="row shadow"><h2 align=center><br>Our Top Researchers</h2><hr class="style-one">
					<style>th{ color:#fff; }</style>
                	<center>
						<table class="table table-striped">
							<tr style="background-color:#825b3a">
								<th><center>Name</center></th>
								<th><center>Age</center></th>
								<th><center>Birthday</center></th>
							</tr>
							<tbody id="myTable">     
							</tbody>
				   		</table>
               		</center>
				</div>
            	<br>
				<br>
				<div class="row footer">
					<p>geographynow.com is an collaboration between geography enthusiasts ands leading learning providers</p>
					<hr>
					<h5 align=center>
						<a href="www.google.com"><i class="fa fa-google"></i></a>&nbsp;
						<a href="www.facebook.com"><i class="fa fa-facebook"></i></a>&nbsp;
						<a href="www.instagram.com"><i class="fa fa-instagram"></i></a>&nbsp;
						<a href="www.twitter.com"><i class="fa fa-twitter"></i></a>&nbsp;
					</h5>
				</div>
			</div>
		</section>
	</body>
	<script>
			var myArray = [
				{'name':'Michael', 'age':'30', 'birthdate':'11/10/1989'},
				{'name':'Mila', 'age':'32', 'birthdate':'10/1/1989'},
				{'name':'Paul', 'age':'29', 'birthdate':'10/14/1990'},
				{'name':'Dennis', 'age':'25', 'birthdate':'11/29/1993'},
				{'name':'Tim', 'age':'27', 'birthdate':'3/12/1991'},
				{'name':'Erik', 'age':'24', 'birthdate':'10/31/1995'},
			]
			buildTable(myArray)

			function buildTable(data){
				var table = document.getElementById('myTable')

				for (var i = 0; i < data.length; i++){
					var row = `<tr>
									<td>${data[i].name}</td>
									<td>${data[i].age}</td>
									<td>${data[i].birthdate}</td>
							  </tr>`
					table.innerHTML += row


				}
			}	
	</script>
</html>
