<html>
	<head>
		<title>Geography Now!</title>
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel = "icon" href = "https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" type = "image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
	</head>
	<body>
		<header class="sticky-top">
			<section class="header">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="container-fluid">
							<a class="navbar-brand" href="#"><img class="logo" src="img/logo.png"></a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ms-auto">
								<li class="nav-item">
									<a class="nav-link" href="/index">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link act" href="/courses">Profile</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/about">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/contact">Contact</a>
								</li>
								<button type="button" class="btn btn-outline-light pad" onclick="document.location ='/login'">Login</button>
							</ul>
						</div>
					  </div>
					</nav>
				</div>
			</section>
		</header>
		<section class="mid">
            <div class="container" align=center>
                <br>
                <div class="row shadow">
                     <h3><br>All Courses</h3>
                     <hr class="style-one"><br>
                     <br>
					 {{#if message}}
					 	<h4 class="alert alert-Success mt-4">{{message}}</h4>
					 {{/if}}
                     <table class="table table-striped">
                         <tr align=center>
                            <th>Course Logo</th>
                            <th>Course Name</th>
                            <th></th>   
                         </tr>
                          <tr align=center>
                             <td><img src="img/af.png" style="width: 200;"></td>
                             <td style="vertical-align: middle;font-size: 30px;">Africa</td>
                             <td style="vertical-align: middle;font-size: 30px;">
								 <btn class="btn btn-success" onclick="document.location = '/addAF'">Add</btn>
								 <btn class="btn btn-danger" onclick="document.location = '/delAF'">Delete</btn>
							 </td>
                         </tr>
						  <tr align=center>
                             <td><img src="img/as.png" style="width: 200;"></td>
                             <td style="vertical-align: middle;font-size: 30px;">Asia</td>
                             <td style="vertical-align: middle;font-size: 30px;">
								 <btn class="btn btn-success" onclick="document.location = '/addAS'">Add</btn>
								 <btn class="btn btn-danger" onclick="document.location = '/delAS'">Delete</btn>
							 </td>
                         </tr>
						  <tr align=center>
                             <td><img src="img/eu.png" style="width: 200;"></td>
                             <td style="vertical-align: middle;font-size: 30px;">Europe</td>
                             <td style="vertical-align: middle;font-size: 30px;">
								 <btn class="btn btn-success" onclick="document.location = '/addEU'">Add</btn>
								 <btn class="btn btn-danger" onclick="document.location = '/delEU'">Delete</btn>
							 </td>
                         </tr>
						  <tr align=center>
                             <td><img src="img/na.png" style="width: 200;"></td>
                             <td style="vertical-align: middle;font-size: 30px;">North America</td>
                             <td style="vertical-align: middle;font-size: 30px;">
								 <btn class="btn btn-success" onclick="document.location = '/addNA'">Add</btn>
								 <btn class="btn btn-danger" onclick="document.location = '/delNA'">Delete</btn>
							 </td>
                         </tr>
						  <tr align=center>
                             <td><img src="img/oc.png" style="width: 200;"></td>
                             <td style="vertical-align: middle;font-size: 30px;">Oceania</td>
                             <td style="vertical-align: middle;font-size: 30px;">
								 <btn class="btn btn-success" onclick="document.location = '/addOC'">Add</btn>
								 <btn class="btn btn-danger" onclick="document.location = '/delOC'">Delete</btn>
							 </td>
                         </tr>
						  <tr align=center>
                             <td><img src="img/sa.png" style="width: 200;"></td>
                             <td style="vertical-align: middle;font-size: 30px;">South Americs</td>
                             <td style="vertical-align: middle;font-size: 30px;">
								 <btn class="btn btn-success" onclick="document.location = '/addSA'">Add</btn>
								 <btn class="btn btn-danger" onclick="document.location = '/delSA'">Delete</btn>
							 </td>
                         </tr>
                     </table>
                </div><br>	
				 <btn class="btn btn-primary" onclick="document.location = '/courses'">Profile</btn>	
            </div>
            <br>
            <div class="row footer">
                <p>geographynow.com is an collaboration between geography enthusiasts ands leading learning providers</p>
                <hr>
                <h5 align=center>
                    <a href="www.google.com"><i class="fa fa-google"></i></a>&nbsp;
                    <a href="www.facebook.com"><i class="fa fa-facebook"></i></a>&nbsp;
                    <a href="www.instagram.com"><i class="fa fa-instagram"></i></a>&nbsp;
                      <a href="www.twitter.com"><i class="fa fa-twitter"></i></a>&nbsp;
                 </h5>
             </div>
		</section>
	</body>
</html>
