<html>
	<head>
		<title>Geography Now!</title>
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<link rel = "icon" href = "https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200X200.png" type = "image/x-icon">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
		<link rel="shortcut icon" type="image/x-icon" href="images/logo.png">
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
		<script src="form.js"></script>
	</head>
	<body>
		<header class="sticky-top">
			<section class="header">
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light">
						<div class="container-fluid">
							<a class="navbar-brand" href="#"><img class="logo" src="img/logo.png"></a>
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ms-auto">
								<li class="nav-item">
									<a class="nav-link" href="/index">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/courses">Profile</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/about">About</a>
								</li>
								<li class="nav-item">
									<a class="nav-link act" href="/contact">Contact</a>
								</li>
								<button type="button" class="btn btn-outline-light pad" onclick="document.location ='/login'">Login</button>
							</ul>
						</div>
					  </div>
					</nav>
				</div>
			</section>
		</header>
		<section class="mid">
			<div class="container">
				<div class="container" align=center>
					<h1><br><i class="fa fa-envelope" style="color:#825b3a"></i> Contact Us</h1>
					<hr class="style-one"><br><br>
				</div>
				<div class=row>
					<div class="col-md-6">
						<p font-size=8><b>Contact if you are from a country that is coming up!<br>Teach us! GeographyNow@gmail.com<hr class="style-one">
						<br><br>Feel free to send anything via mail! <br>Our public mailbox address is:
						<br><br>1905 N Wilcox ave, # 432<br>Los Angeles CA, 90068 <hr class="style-one">
						<br><br>BTS info and tidbits? Check out the <br>Facebook fan page: <a href="https://www.facebook.com/GeographyNowFanpage/?fref=ts">https://www.facebook.com/GeographyNowFanpage/?fref=ts</a>
						<br>Twitter: <a href="https://twitter.com/geographynow">https://twitter.com/geographynow</a><hr class="style-one">
						<br><br>Stay cool Stay tuned and remember, this is Earth, your home. <br>Learn about it.</b></p>
					</div>
					<div class="col-md-6">
						<form class="shadow row g-3 formc"  action="https://formspree.io/f/mrgrynbl" method="POST">
							<h1 style="color:white"><i class="fa fa-comments" style="color:white"></i> Get in touch</h1>
							<div class="col-12">
								<input type="text" name="Name" class="form-control name" id="inputAddress" placeholder="Name">
							</div>
							<div class="col-12">
								<input type="email" name="E-mail" class="form-control email" id="inputAddress" placeholder="Email">
							</div>
							<div class="col-12">
								<input type="text" name="Message" class="form-control message" id="inputAddress2" placeholder="Message" style="height:150px">
							</div>
							<div class="validate" style="color:red;background:white;"></div>
							<div class="col-12">
								<button type="submit" class="btn btn-primary submit">Submit</button>
							</div>
						</form>
					</div>
				</div><br>
				<div class="row footer">
					<p>geographynow.com is an collaboration between geography enthusiasts ands leading learning providers</p>
					<hr>
					<h5 align=center>
						<a href="www.google.com"><i class="fa fa-google"></i></a>&nbsp;
						<a href="www.facebook.com"><i class="fa fa-facebook"></i></a>&nbsp;
						<a href="www.instagram.com"><i class="fa fa-instagram"></i></a>&nbsp;
						<a href="www.twitter.com"><i class="fa fa-twitter"></i></a>&nbsp;
					</h5>
				</div>
			</div>
		</section>
	</body>
</html>
